.speech {
    font-family: "Times New Roman" ;
    font-size: 13px;
    color:black;
}
.stage-direction {
    font-family: "Calibri" ;
    font-size: 15px;
    color:black;
    background-color: lightskyblue;
}
.name {
    font-family: "Arial" ;
    font-size: 16px;
    color:black;
    background-color: lightskyblue;
}
.stage-direction.hover{
    background-color:greenyellow;
    color: mediumvioletred;
}
.WINDERMERE{
    color: blueviolet;
}
.DARLINGTON{
    color: orange;
}
.BERWICK{
    color: yellow;
}
h6{
    margin: 10px 0;
}
table, th, td, tr{
    border: solid blue;
    color: fuchsia;
    text-align: left;
    border-collapse: collapse;
    padding: 12px;
    margin: 10px;
}
 tr:nth-child(even){background-color:lightseagreen ;}